// Variables
@import "variables";

/*---------- Reset ----------*/
*{
  margin: 0 auto;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: $roboto;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*---------- Main ----------*/
h1,h2,h3,h4 {
  margin: 0;
  color: $light-dark;
}
body {
  //background: $light;
}

/*---------- Main Bootstrap ----------*/
.navbar-default{
  background: $white;
  margin-bottom: 0;
  border-bottom: 1px solid $light-gray;
  height: 72px;
  border-radius: 0;
}

.navbar-header {
  h4 {
    font-size: 1.1em;
    font-weight: 400;

    span {
      color: $blue-theme;
      font-weight: 600;
    }
  }
  p{
    font-size: 0.65em;
    font-weight: 100;
  }
}

#navbar {
  padding: 0;
  ul>li>a {
    font-size: 1.2em;
    padding: 24px 14px;
    &:hover{
      color: $blue-theme;
      border-bottom: 4px solid $blue-theme;
      transition: 0.2s;
    }
  }
}
