// Variables
@import "variables";

/*---------- Reset ----------*/
*{
  margin: 0 auto;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: $roboto;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*---------- Main ----------*/
h1,h2,h3,h4 {
  margin: 0;
  color: $dark;
}
body {
  background: $light;
}

/*---------- Main Bootstrap ----------*/
.navbar-default{
  background: $white;
  padding: 14px;
  margin-top: 670px;
  margin-bottom: 0;
}
