// Variables
@import "variables";

/*---------- Reset ----------*/
*{
  margin: 0 auto;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: $roboto;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*---------- Main ----------*/
h1,h2,h3,h4 {
  margin: 0;
  color: $light-dark;
}
.icon-ok {
  color: $blue-theme;
}
.icon-linkedin-2 {color: #0077b5;}
.icon-github-circled-alt2 {color: #24292e}
.icon-stackoverflow {color: #f48024}

#msg {
  margin-top: 10px;
}

#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  background: $white url("../img/loading.gif") no-repeat center center;
  background-size: 80px;
}

/*---------- Main Bootstrap ----------*/
.navbar-default{
  background: $white;
  border-bottom: 1px solid $light-gray;
  height: 72px;
  border-radius: 0;
  z-index: 98;
}
.navbar-header {
  h4 {
    font-size: 1.1em;
    font-weight: 400;
    span {
      color: $blue-theme;
      font-weight: 600;
    }
  }
  p{
    font-size: 0.65em;
    font-weight: 100;
  }
}

#navbar {
  padding: 0;
  ul>li>a {
    font-size: 1.2em;
    padding: 24px 14px;
    &:hover{
      color: $blue-theme;
      border-bottom: 3px solid $blue-theme;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }
  }
}

/*---------- Title ----------*/
.title {
  background: transparent;
  padding: 40px 0;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    width: 400px;
    padding: 0 0 30px 0;
    border-bottom: 1px solid $light-gray;
    font-weight: 200;
    margin-top: 10px;
    position: relative;

    span{
      font-size: 0.4em;
      color: $blue-theme;
      background: $white;
      border: 1px solid $light-gray;
      border-radius: 100%;
      padding: 4px;
      position: absolute;
      bottom: -12px;
      left: 46.5%;
    }
  }
  h3 {
    padding: 30px 0 0 0;
    font-weight: 100;
  }
}

/*---------- Footer ----------*/
#footer {
  width: 100%;
  display: flex;
  flex-direction: column;

  #top {
    width: 100%;
    height: 80px;
    background: $dark;
    padding-top: 10px;

    display: flex;
    align-items: center;
    ul {
      display: flex;
      li {
        a {
          .icon-size {
            font-size: 1.6em;
            color: $white;
            border-radius: 100%;
            padding: 6px;
          }
          .icon-linkedin-2 {background: #0077b5;}
          .icon-github-circled-alt2 {background: #24292e; margin: 0 10px;}
          .icon-stackoverflow {background: #f48024;}
        }
        &:hover {
          margin-top: -4px;
          -webkit-transition: all ease 0.2s;
          -moz-transition: all ease 0.2s;
          -ms-transition: all ease 0.2s;
          -o-transition: all ease 0.2s;
          transition: all ease 0.2s;
        }
      }
    }
  }

  #bottom{
    width: 100%;
    height: 60px;
    background: $black;

    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
  }
}

/*---------- Go Top ----------*/
#goTop {
  display: none;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 100%;
  color: $white;
  font-size: 1.2em;
  position: fixed;
  right: 20px;
  bottom: 10px;
  padding: 10px;
  &:hover {
    background: rgba(0, 0, 0, 0.5);
  }
}
