// Colors
$blue-theme: #1d99ae;

// Black => Gray
$black: #333;
$dark: #444;
$light-dark: #666;

// White => Gray
$white: #fff;
$light: #f9f9f9;
$light-gray: #ebebeb;
$gray: #ccc;

// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
$roboto: 'Roboto', sans-serif;
