// Variables
@import "variables";

#banner {
  width: 100%;
  height: 672px;
  top: 0;
  left: 0;
  z-index: 1;
  background: url("../img/banner4.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  #banner-wrapper {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    transition: all ease 1s;
    display: flex;
    justify-content: center;
    align-items: center;

    #border {
      width: 280px;
      height: 280px;
      background: transparent;
      border-radius: 100%;
      border: 1px solid $white;
      opacity: 1;


      display: flex;
      justify-content: center;
      align-items: center;

      #banner-content {
        width: 260px;
        height: 260px;
        background: $white;
        border-radius: 100%;
        padding: 22px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
          font-weight: 300;
          margin-bottom: 2px;

          display: flex;

          span {
            color: $blue-theme;
            font-weight: 600;
          }
        }

        h3 {
          font-weight: 100;
          font-size: 1.5em;
        }
      }
    }
  }
}

#perfil {
  background: $white;
  padding-top: 40px;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    width: 400px;
    padding: 30px 0;
    border-bottom: 1px solid $light-gray;
    font-weight: 200;
    position: relative;

    span{
      font-size: 0.3em;
      color: $blue-theme;
      background: $white;
      border: 1px solid $light-gray;
      border-radius: 100%;
      padding: 6px;
      position: absolute;
      bottom: -12px;
      left: 46.5%;
    }
  }
  h3 {
    padding: 30px 0;
    font-weight: 100;
  }


}

#wrapper-perfil{
  background: $white;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;

  #info {
    width: 50%;
    h4 {
      text-align: center;
      font-weight: 100;
      padding: 20px 0;
    }
    ul {
      border: 1px solid $light-gray;
      padding: 20px;
      li{
        text-align: left;
      }
    }
  }

  #story {
    width: 50%;
    h4 {
      text-align: center;
      font-weight: 100;
      padding: 20px 0;
    }
  }

  #info,#story{
    padding: 0 40px;
    color: $light-dark;
  }
}

#skills{
  height: 600px;

  display: flex;
  flex-wrap: wrap;

  #leftSkills {
    width: 50%;
    height: 100px;
    display: flex;
    flex-direction: column;

    h4 {
      text-align: center;
      font-weight: 100;
      padding: 20px 0;
    }

    .progress-skill {
      width: 90%;

      p {
        width: 100%;
        font-size: 1em;
        color: $light-dark;
        margin-bottom: 6px;

        display: flex;
        justify-content: space-between;

        span {
          margin: 0;
        }
      }

      .under-bar {
        width: 100%;
        height: 10px;
        background: $light;
        margin-bottom: 12px;
        margin-left: 0 !important;

        .inner-bar{
          background: $blue-theme;
          width: 0;
          height: 10px;
          color: $white;
          margin: 0;
        }
      }
    }
  }

  #rightSkills {
    width: 50%;
  }


}
