// Variables
@import "variables";

/*---------- Banner ----------*/
#banner {
  width: 100%;
  height: 672px;
  top: 0;
  left: 0;
  z-index: 1;
  background: url("../img/banner4.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  #banner-wrapper {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);

    display: flex;
    justify-content: center;
    align-items: center;

    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;

    a {
      position: absolute;
      bottom: 0;
      font-size: 4em;
      color: $light-gray;
      background: rgba(0, 0, 0, 0.1);

      &:hover, &:focus {
        color: $white;
        text-decoration: none;
        background: rgba(0, 0, 0, 0.3);
      }
    }

    #border {
      width: 280px;
      height: 280px;
      background: transparent;
      border-radius: 100%;
      border: 1px solid $white;

      display: flex;
      justify-content: center;
      align-items: center;

      #banner-content {
        width: 260px;
        height: 260px;
        background: $white;
        border-radius: 100%;
        padding: 22px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
          font-weight: 300;
          margin-bottom: 2px;
          display: flex;

          span {
            color: $blue-theme;
            font-weight: 600;
          }
        }

        h3 {
          font-weight: 100;
          font-size: 1.5em;
        }
      }
    }
  }
}

/*---------- Perfil ----------*/
#wrapper-perfil{
  padding: 20px 0;

  display: flex;
  flex-wrap: wrap;

  #info {
    width: 40%;
    h4 {
      text-align: center;
      font-weight: 100;
      padding: 20px 0;
    }
    ul {
      border: 1px solid $light-gray;
      padding: 44px;
      li{
        text-align: left;
        font-size: 1.1em;
      }
    }
    a {
      background: $white;
      border-radius: 0;
      border: 1px solid $light-gray;
      padding: 10px 18px;
      color: $blue-theme;
      position: relative;
      bottom: 30px;
      left: 35%;
      &:hover {
        background: $light;
        color: $blue-theme;
        border-bottom: 1px solid $blue-theme;
      }
    }
  }

  #social-network{
    width: 12%;
    padding-top: 60px;

    ul {
      text-align: center;
      .icon-size {
        font-size: 3em;
      }
    }
  }

  #story {
    width: 44%;

    h4 {
      text-align: center;
      font-weight: 100;
      padding: 20px 0;
    }
    p {
      font-weight: 100;
    }
    .bold {
      font-weight: 500;
    }
  }

  #info,#story{
    padding: 0 30px;
    color: $light-dark;
  }
}

/*---------- Skills ----------*/
#skills{
  display: flex;
  flex-wrap: wrap;

  #leftSkills {
    width: 50%;
    height: 100px;
    display: flex;
    flex-direction: column;

    h4 {
      text-align: center;
      font-weight: 100;
      padding: 20px 0;
    }

    .progress-skill {
      width: 90%;

      p {
        width: 100%;
        font-size: 1em;
        color: $light-dark;
        margin-bottom: 6px;

        display: flex;
        justify-content: space-between;

        span {
          margin: 0;
        }
      }

      .under-bar {
        width: 100%;
        height: 8px;
        background: $light;
        margin-bottom: 12px;
        margin-left: 0 !important;

        .inner-bar{
          background: $blue-theme;
          width: 0;
          height: 8px;
          color: $white;
          margin: 0;
        }
      }
    }
  }

  #rightSkills {
    width: 50%;

    h4 {
      text-align: center;
      font-weight: 100;
      padding: 20px 0;
    }

    .skills-wrapper {
      padding: 8px 0;
      display: flex;
      text-align: center;

      p{
        font-weight: 100;
        margin-top: 4px;
      }
    }
  }
}

/*---------- Formation ----------*/
#formation {
  height: auto;
  display: flex;
  justify-content: center;
  background: $light;
  padding: 60px 0;

  .year-formation{
    width: 38%;
    height: auto;
    padding-right: 30px;
    border-right: 1px solid $light-gray;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    h3 {
      font-size: 2.4em;
      span {
        font-size: 0.6em;
        color: $gray;
      }
    }
  }
  .course {
    width: 62%;
    height: auto;
    padding: 30px;

    ul {
      li {
        font-size: 1.3em;
        color: $light-dark;
        font-weight: 200;

        &:first-child {
          font-weight: 500;
        }
      }
    }
  }
  .cap {
    width: 1px;
    height: 1px;
    border-radius: 100%;
    background: $light-gray;
    color: $blue-theme;
    font-size: 2.2em;
    position: relative;
    left: -26px;
    top: -20px;
  }
}

/*---------- Contact ----------*/
#contact {
  form {
    display: flex;

    .form-group {
      width: 50%;
      padding: 12px;

      input {
        margin-bottom: 8px;
        border-radius: 0;
        border: 1px solid $light-gray;
        box-shadow: none;
        height: inherit;
        padding: 8px;
        color: $light-dark;
      }
      textarea {
        min-height: 130px;
        margin-bottom: 8px;
        border-radius: 0;
        border: 1px solid $light-gray;
        box-shadow: none;
        padding: 18px;
        color: $light-dark;
      }
      button {
        border-radius: 0;
        border: 1px solid $light-gray;
        padding: 10px 18px;
        color: $blue-theme;

        &:hover {
          background: $light;
          color: $blue-theme;
          border-bottom: 1px solid $blue-theme;
        }
      }
    }
  }
}

/*---------- Map ----------*/
#map {
  padding: 0;
  border: none;

  iframe {
    width: 100%;
    height: 340px;
    margin-bottom: -6px;
    border: none;
  }
}

@media only screen and (max-width: 768px) {

  /*---------- Perfil ----------*/
  #wrapper-perfil{
    flex-direction: column;
    flex-wrap: wrap;

    #info {
      width: 100%;

      ul {
        padding: 22px;
      }
      a {
        display: none;
      }
    }

    #social-network{
      width: 100%;
      padding: 20px 0 40px;

      ul {
        display: flex;
        .icon-size {
          font-size: 2.8em;
        }
      }
    }

    #story {
      width: 100%;
      text-align: center;
    }

    #info,#story{
      padding: 0 20px;
      color: $light-dark;
    }
  }

  /*---------- Skills ----------*/
  #skills{
    flex-direction: column;
    flex-wrap: wrap;

    #leftSkills {
      width: 100%;
      height: auto;

      .progress-skill {
        width: 90%;
      }
    }

    #rightSkills {
      width: 100%;
      margin-top: 20px;
    }
  }

}

@media only screen and (max-width: 480px) {
  body {
    //background: red;
  }
}

