@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?64807945');
  src: url('../font/fontello.eot?64807945#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?64807945') format('woff2'),
       url('../font/fontello.woff?64807945') format('woff'),
       url('../font/fontello.ttf?64807945') format('truetype'),
       url('../font/fontello.svg?64807945#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?64807945#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-ok:before { content: '\e800'; } /* '' */
.icon-users:before { content: '\e801'; } /* '' */
.icon-attach:before { content: '\e802'; } /* '' */
.icon-mail:before { content: '\e803'; } /* '' */
.icon-user:before { content: '\e804'; } /* '' */
.icon-users-1:before { content: '\e805'; } /* '' */
.icon-phone:before { content: '\e806'; } /* '' */
.icon-email:before { content: '\e807'; } /* '' */
.icon-html5:before { content: '\e808'; } /* '' */
.icon-stackoverflow-1:before { content: '\e809'; } /* '' */
.icon-github-circled-1:before { content: '\e80a'; } /* '' */
.icon-github-2:before { content: '\e80b'; } /* '' */
.icon-linkedin-3:before { content: '\e80c'; } /* '' */
.icon-call:before { content: '\e80d'; } /* '' */
.icon-stackoverflow-2:before { content: '\e80e'; } /* '' */
.icon-github-4:before { content: '\e80f'; } /* '' */
.icon-attach-1:before { content: '\e810'; } /* '' */
.icon-pin:before { content: '\e811'; } /* '' */
.icon-location-outline:before { content: '\e812'; } /* '' */
.icon-phone-1:before { content: '\e813'; } /* '' */
.icon-phone-circled:before { content: '\e814'; } /* '' */
.icon-diamond-1:before { content: '\e815'; } /* '' */
.icon-attach-2:before { content: '\e816'; } /* '' */
.icon-location:before { content: '\e817'; } /* '' */
.icon-location-2:before { content: '\e818'; } /* '' */
.icon-location-3:before { content: '\e819'; } /* '' */
.icon-location-circled:before { content: '\e81a'; } /* '' */
.icon-location-4:before { content: '\e81b'; } /* '' */
.icon-location-5:before { content: '\e81c'; } /* '' */
.icon-location-inv:before { content: '\e81d'; } /* '' */
.icon-location-6:before { content: '\e81e'; } /* '' */
.icon-location-7:before { content: '\e81f'; } /* '' */
.icon-location-8:before { content: '\e820'; } /* '' */
.icon-graduation-cap-1:before { content: '\e821'; } /* '' */
.icon-graduation-cap-2:before { content: '\e822'; } /* '' */
.icon-up-dir:before { content: '\e823'; } /* '' */
.icon-up-open:before { content: '\e824'; } /* '' */
.icon-down-dir:before { content: '\e825'; } /* '' */
.icon-location-1:before { content: '\f031'; } /* '' */
.icon-github-circled-alt2:before { content: '\f056'; } /* '' */
.icon-linkedin-circled-1:before { content: '\f05b'; } /* '' */
.icon-linkedin-2:before { content: '\f05c'; } /* '' */
.icon-github-circled-2:before { content: '\f09b'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-angle-double-up:before { content: '\f102'; } /* '' */
.icon-angle-double-down:before { content: '\f103'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-github:before { content: '\f113'; } /* '' */
.icon-direction:before { content: '\f124'; } /* '' */
.icon-info:before { content: '\f129'; } /* '' */
.icon-angle-circled-up:before { content: '\f139'; } /* '' */
.icon-angle-circled-down:before { content: '\f13a'; } /* '' */
.icon-css3:before { content: '\f13c'; } /* '' */
.icon-stackoverflow:before { content: '\f16c'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-git:before { content: '\f1d3'; } /* '' */
.icon-birthday:before { content: '\f1fd'; } /* '' */
.icon-diamond:before { content: '\f219'; } /* '' */
.icon-github-1:before { content: '\f300'; } /* '' */
.icon-github-circled:before { content: '\f301'; } /* '' */
.icon-github-3:before { content: '\f308'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */
.icon-linkedin-1:before { content: '\f318'; } /* '' */
.icon-linkedin-circled:before { content: '\f319'; } /* '' */
.icon-linkedin-4:before { content: '\f31a'; } /* '' */
.icon-linkedin-rect:before { content: '\f31b'; } /* '' */